<aside id="menu">
    <div id="navigation">
        <ul class="nav" id="side-menu">
            <li class="active">
                <a href="@Url.Action("Index", "Home")">
                    <span class="nav-label">Dashboard</span>
                    <span class="label label-success pull-right">v.1</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Analytic", "Home")">
                    <span class="nav-label">Analytics</span>
                    <span class="label label-warning pull-right">NEW</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="nav-label">Interface</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("PanelDesign", "Interface")">Panels design</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Typography", "Interface")">Typography</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ColorsButtons", "Interface")">Colors &amp; Buttons</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Components", "Interface")">Components</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Alerts", "Interface")">Alerts</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Modals", "Interface")">Modals</a>
                    </li>
                    <li>
                        <a href="@Url.Action("LoadingButtons", "Interface")">Loading buttons</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DraggablePanel", "Interface")">Draggable panels</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CodeEditor", "Interface")">Code editor</a>
                    </li>
                    <li>
                        <a href="@Url.Action("EmailTemplate", "Interface")">Email template</a>
                    </li>
                    <li>
                        <a href="@Url.Action("NestableList", "Interface")">List</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Tour", "Interface")">Tour</a>
                    </li>
                    <li>
                        <a href="@Url.Action("icons", "Interface")">Icons library</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="nav-label">App views</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Contacts", "AppViews")">Contacts</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Projects", "AppViews")">Projects</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Project", "AppViews")">Project detail</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AppPlans", "AppViews")">App plans</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SocialBoard", "AppViews")">Social board</a>
                    </li>
                    <li>
                        <a href="@Url.Action("FAQ", "AppViews")">FAQ</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Timeline", "AppViews")">Timeline</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Notes", "AppViews")">Notes</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Profile", "AppViews")">Profile</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Mailbox", "AppViews")">Mailbox</a>
                    </li>
                    <li>
                        <a href="@Url.Action("EmailCompose", "AppViews")">Email compose</a>
                    </li>
                    <li>
                        <a href="@Url.Action("EmailView", "AppViews")">Email view</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Blog", "AppViews")">Blog</a>
                    </li>
                    <li>
                        <a href="@Url.Action("BlogArticle", "AppViews")">Blog article</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Forum", "AppViews")">Forum</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Forumdetails", "AppViews")">Forum details</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Gallery", "AppViews")">Gallery</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Calendar", "AppViews")">Calendar</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Invoice", "AppViews")">Invoice</a>
                    </li>
                    <li>
                        <a href="@Url.Action("FileManager", "AppViews")">File manager</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ChatView", "AppViews")">Chat view</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SearchView", "AppViews")">Search view</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="nav-label">Charts</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("ChartJs", "Charts")">ChartJs</a>
                    </li>
                    <li>
                        <a href="@Url.Action("FlotChart", "Charts")">Flot charts</a>
                    </li>
                    <li>
                        <a href="@Url.Action("InlineGraph", "Charts")">Inline graphs</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Chartist", "Charts")">Chartist</a>
                    </li>
                    <li>
                        <a href="@Url.Action("C3Chart", "Charts")">C3 Charts</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="nav-label">Box transitions</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Overview", "BoxTransition")">
                            <span class="label label-success pull-right">Start</span> Overview
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ColumnUp", "BoxTransition")">Columns from up</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ColumnCustom", "BoxTransition")">Columns custom</a>
                    </li>
                    <li>
                        <a href="@Url.Action("PanelZoom", "BoxTransition")">Panels zoom</a>
                    </li>
                    <li>
                        <a href="@Url.Action("RowsDown", "BoxTransition")">Rows from down</a>
                    </li>
                    <li>
                        <a href="@Url.Action("RowsRight", "BoxTransition")">Rows from right</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="nav-label">Common views</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Login", "CommonViews")">Login</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Register", "CommonViews")">Register</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ErrorOne", "CommonViews")">Error 404</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ErrorTwo", "CommonViews")">Error 505</a>
                    </li>
                    <li>
                        <a href="@Url.Action("LockScreen", "CommonViews")">Lock screen</a>
                    </li>
                    <li>
                        <a href="@Url.Action("PasswordRecovery", "CommonViews")">Password recovery</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="nav-label">Tables</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("TableDesign", "Tables")">Tables design</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DataTables", "Tables")">Data tables</a>
                    </li>
                    <li>
                        <a href="@Url.Action("FooTable", "Tables")">Foo Table</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Widgets", "Home")">
                    <span class="nav-label">Widgets</span>
                    <span class="label label-success pull-right">Special</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="nav-label">Forms</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("FormElement", "Forms")">Forms elements</a>
                    </li>
                    <li>
                        <a href="@Url.Action("FormExtended", "Forms")">Forms extended</a>
                    </li>
                    <li>
                        <a href="@Url.Action("TextEditor", "Forms")">Text editor</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Wizard", "Forms")">Wizard</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Validation", "Forms")">Validation</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("LayoutOptions", "Home")">
                    <span class="nav-label">Layout options</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("GridSystem", "Home")">
                    <span class="nav-label">Grid system</span>
                </a>
            </li>
            <li>
                <a href="https://devdap.com/themes-preview/live/Software">
                    <span class="nav-label">Landing page</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Package", "Home")">
                    <span class="nav-label">Package</span>
                </a>
            </li>
        </ul>
    </div>
</aside>